@using APP.models

<h4>User Details</h4>

<table class="table">
    <tr>
        <th>User Id : </th>
        <td>@Model.userId</td>
    </tr>
    <tr>
        <th>User Name : </th>
        <td>@Model.userName</td>
    </tr>
    <tr>
        <th>User Email : </th>
        <td>@Model.userEmail</td>
    </tr>
    <tr>
        <th>User Address : </th>
        <td>@Model.userAddress</td>
    </tr>
</table>